@import "../bootstrap-extended/variables";

.card-header-text {
    .card-header-icon-reload {
        padding: 0 10px 8px 8px;
        @media (min-width: 992px) {
            padding: 0 16px 16px 13px;
        }
    }

    .card-title {
        color: #2E3D70;
        font-size: 1rem;
        @media (min-width: 992px) {
            font-size: 1.285rem;
        }
    }

    .card-title-count-text {
        color: #622691;
        font-size: 0.8rem;
        margin-left: 8px;
        @media (min-width: 992px) {
            margin-left: 18px;
            font-size: 1rem;
        }
    }
}

td {
    a {
        color: #2E3D70 !important;

        &:hover {
            opacity: 0.7;
        }
    }

    .button {
        width: 127px;
        height: 41px;
        border: none;
        border-radius: 25px;
        padding: 2px;
        color: white;
        opacity: 0.25;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .completed-button {
        background: #00AC4D;
    }

    .not-completed-button {
        background: #EC1940;
    }
}
