@import "../bootstrap-extended/variables";

td {
    a {
        color: #2E3D70 !important;

        &:hover {
            opacity: 0.7;
        }
    }

    .button {
        width: 127px;
        height: 41px;
        border: none;
        border-radius: 25px;
        padding: 2px;
        color: white;
        opacity: 0.25;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .completed-button {
        background: #00AC4D;
    }

    .not-completed-button {
        background: #EC1940;
    }

    .no-answer-button {
        background: #622691;
    }

    .busy-button {
        background: #E22635;
    }
}

.time-data {
    color: #622691;
}
