@import "../bootstrap-extended/variables";

.box-bar {
    height: 150px;
    width: 150px;
    margin: 20px;
    background-color: #EEF2FF;;
    border: 1px solid $gray-100;
    border-radius: 10px;
    color: #2E3D70;;
}
