@import "../bootstrap-extended/variables";

td {
    a {
        color: #2E3D70 !important;

        &:hover {
            opacity: 0.7;
        }
    }

    .button {
        width: 93px;
        height: 42px;
        border: none;
        border-radius: 25px;
        padding: 8px;
        //color: white;
        //opacity: 0.25;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .active-button {
        color: #00AC4D;
        background: rgba(0, 172, 77, 0.15);
    }

    .draft-button {
        color: #EC1940 !important;
        background: rgba(236, 25, 64, 0.15);
    }
}

//.button {
//    width: 110px;
//    margin: 0.5rem;
//}
